p {
  color: #939393;
  line-height: 150%;
  font-size: 22px;
}


@keyframes dongdong {
  from{
    transform:translateY(-10%)
  }
  to{
    transform:translateY(10%)
  }
}

@keyframes dongdong_light {
  from{
    transform:translateY(-5%)
  }
  to{
    transform:translateY(5)
  }
}
/* @keyframes blink {
  from{
    transform:opacity(0%)
  }
  to{
    transform:opacity(100%)
  }
} */

@keyframes blink {
  0% {
    opacity: 1; /* 완전히 보이는 상태 */
  }
  100% {
    opacity: 0; /* 완전히 사라지는 상태 */
  }
}
@keyframes blink_re {
  100% {
    opacity: 1; /* 완전히 보이는 상태 */
  }
  0% {
    opacity: 0; /* 완전히 사라지는 상태 */
  }
}

.section01 {
  position: relative;
  background-color: #0b0b0c;
  height: initial;

  img {
    width: 100%;
  }

  .bgimg {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    /* z-index: 10; */
  }

  .nav {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 40px 60px;

    
  }

  .introduce {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 60px;
    justify-content: space-between;
    align-items: center;


    ul {
      padding: 4px;
    }
  }

  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;

    .titleGroup {
      display: flex;
      justify-content: center;
      margin-bottom: 60px;
    }

  }
  .press {
    display: flex;
    gap: 10px;
    position: absolute;
    left: 50%;
    bottom: 10%;
    translate: -50% -50%;
    animation: blink 0.5s infinite alternate;
    /* align-items: center; */
    text-align: center;
    

    .press_but {
      margin-top: 20px;

     
    }
  }

  .decoGroup {
    display: flex;
    height: 100vh;
    /* background-color: red; */

    .deco01 {
      width: 17vw;
      position: absolute;
      top: 0;
      left: 0;
      animation: dongdong 1s infinite alternate
    }

    .deco02 {
      width: 11vw;
      position: absolute;
      left: 13%;
      bottom: 5%;
      animation: dongdong 4s infinite alternate
    }

    .deco03 {
      width: 13vw;
      position: absolute;
      top: 0;
      left: 30%;
      animation: dongdong 2s infinite alternate
    }

    .deco04 {
      width: 14vw;
      position: absolute;
      bottom: 15%;
      left: 40%;
      animation: dongdong 1.3s infinite alternate
    }

    .deco05 {
      width: 13vw;
      position: absolute;
      top: 10%;
      right: 30%;
      animation: dongdong 3s infinite alternate
    }

    .deco06 {
      width: 25vw;
      position: absolute;
      bottom: -20%;
      right: 10%;
      animation: dongdong 4s infinite alternate
    }

    .deco07 {
      width: 15vw;
      position: absolute;
      bottom: 30%;
      right: 0;
      animation: dongdong 2.5s infinite alternate
    }
  }
}

.section02 {
  height: 2120px;
  position: relative;
  background-color: #2f2d33;

  .overview {
    width: 100vw;
    height: 1203px;
    padding-top: 140px;
    

    img {
      width: initial;
    }
    .overviewContent {
      position: absolute;
      left: 50%;
      top: 15%;
      translate: -50% -50%;
      

      /* 챗지피티 */
      display: flex; /* Enables flexbox */
      flex-direction: column; /* Aligns items in a column */
      justify-content: center; /* Centers content vertically */
      align-items: center; /* Centers content horizontally */
      /* height: 100vh; Makes the div take the full viewport height */
      text-align: center; /* Centers text inside */

      .header_tag {
        color: #a27cff;
        margin-bottom: 48px;
        font-size: 26px;
        font-weight: bold;
      }

      .section02_title {
        font-weight: bold;
        font-size: 54px;
        margin-bottom: 32px;

        .title_tag {
          background: #6728ff;
        }

        .title_text {
          font-size: 26px;
        }
      }
      .white_tag {
        color: #ffffff;
      }
    }

    .overviewDeco {

      .overDeco_circle {
        width: 960px;
        height: 960px;
        position: absolute;
        left: 50%;
        top: 13%;
        translate: -50% 0;

        & > div img{
          transform:scale(0);
        }

        .circle_01 {
          position: absolute;
          left: 50%;
          top: 50%;
          translate: -50% -50%;
        }
        .circle_02 {
          position: absolute;
          left: 50%;
          top: 50%;
          translate: -50% -50%;
        }
        /* .circle_03 {
        } */
      }

      .overDeco_icon {
        .over_icon01 {
          width: 5vw;
          position: absolute;
          left: 70%;
          top: 30%;
          translate: -50% -50%;
        }
        .over_icon02 {
          width: 10vw;
          position: absolute;
          left: 30%;
          top: 35%;
          translate: -50% -50%;
        }
        .over_icon03 {
          width: 15vw;
          position: absolute;
          left: 60%;
          top: 50%;
          translate: -50% -50%;
        }
      }
    }

    .overDeco_eyes {
      display: flex;
      position: absolute;
      left: 50%;
      top: 23%;
      /* translate: -50% 0%; */
      transform:translate(-50%, 0);
      gap: 24px;
      margin-top: 40px;

      .ov_eyes_left {
        width: 15vw;
      }

      .ov_eyes_right {
        width: 15vw;
      }
    }
  }
  .background {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 1600px;

    .titleGroup{
      .background_title01 {
      /* width: 8vw; */
      margin-bottom: 24px;
    }

    .title02 {
      font-weight: bold;
      font-size: 44px;
      margin-bottom: 40px;
    }

    }
    

    .chart {
      display: flex;
      justify-content: center;
      gap: 16px;

      .chart01{

        position: relative;

        .deco01{
          position: absolute;
          left: 23%;
          top: 50%;
          /* translate: -50% -50%; */
          overflow: hidden;
          width: 0;
          /* 272 */

        }
        .deco02{
          position: absolute;
          top: 25%;
          right: 10%;
        }
      }

      .chart02{

        position: relative;

        .deco03{
          position: absolute;
          left: 50%;
          top: 30%;
          translate: -50% -50%;
        }
      }

      .chart03{
        position: relative;

        .deco04{
          position: absolute;
          left: 50%;
          top: 50%;
          translate: -50% -35%;
        }
      }
    
    }
  }
}

.section03 {
  height: 1851px;
  background-color: #000000;
  position: relative;

  .deskreaserch {
    width: 1700px;
    margin: 0 auto;


    .titleGroup{
      padding-top: 120px;

      .title01 {
        margin-bottom: 24px;
      }
      .title02 {
        font-weight: bold;
        font-size: 44px;
        margin-bottom: 72px;
      }

    }
    .question01{

      /* background-color: red; */
      margin-bottom: 120px;
      .smallHeader {
        margin-bottom: 36px;
        
        .gray_badge {
          display: inline-block;
          background-color: #1f2126;
          color: 868686;
          padding: 2px 6px;
          border-radius: 2px;
          font-size: 20px;
          font-weight: bold;
        }
      }
    
      .reason {
        display: flex;
        flex-wrap: wrap;
        gap: 26px 20px;
        width: 1700px;
      }
    
      .reason_card {
        width: 800px;
        height: 282px; /* 카드 너비 */
        background-color: #0e0e17; /* 어두운 배경 */
        border: 2px solid #2663ff; /* 파란색 테두리 */
        border-radius: 4px; /* 둥근 모서리 */
        color: white; /* 기본 텍스트 색상 */
        align-items: center;
      }
    
      .badge {
        display: inline-block;
        background-color: #6c4dff;
        color: white;
        padding: 6px 14px;
        border-radius: 2px;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 24px;
      }
    
      .reason_card {
        padding-top: 36px;
        padding-left: 36px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      /* 제목 스타일 */
      .reason_title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 32px;
      }
    
      /* 설명 스타일 */
      .description {
        font-size: 20px;
        color: #564f67; /* 연한 회색 텍스트 */
        margin-top: 8px;
        line-height: 150%;

    }
    

    
  

  }
  }
  .question02{
    /* position: relative; */

    .smallHeader {
      margin-bottom: 36px;
      
      .gray_badge {
        display: inline-block;
        background-color: #1f2126;
        color: 868686;
        padding: 2px 6px;
        border-radius: 2px;
        font-size: 20px;
        font-weight: bold;
      }
    }
    .graph_bg {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
    }

    .deskGroup{      
      /* background-color: red; */
      height: 421px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;

     
      

      
    }

  }

  
}

.section04 {

  display: flex;
  justify-content: center;
  align-items: center;
  height: initial;
  background: #000;
  height: 386px;
  /* text-wrap: nowrap; */
  /* text-align: center; */


  .cover{
    width: 100vw;
    height: 386px;
    background-color: #5520d3;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .decoinsight01 {
    position: absolute;
    left: 0;
    top: 0;
  }
  .decoinsight02{
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .titleGroup{
    /* background-color: red; */
    text-align: center;
    /* justify-content: center; */

    .section04_title{
      font-size: 44px;
      font-weight: bold;
      padding-bottom: 36px;
      white-space: nowrap;
    }
    .insight_p{
      color: #c3b8dd;
      width: 900px;
      
    }
  }
  
}

.section05{
  background-color: #000000;
  position: relative;
  /* height: 2500px; */
  height: initial;
  padding-bottom: 100px;

  .userReaserch{
    width: 1620px;
    margin: 0 auto;
    padding-bottom: 200px;
    
    .titleGroup{
      /* background-color: red; */
      padding-top: 120px;
      padding-bottom: 60px;

     
  
      .title01{
        margin-bottom: 24px;
      }
      .title02 {
        font-weight: bold;
        font-size: 44px;
        margin-bottom: 12px;
      }
      
    }
      
  .graphBox{
    background-color: #171717;
    width: 1620px;
    height: 646px;
    display: flex;
    
    gap:100px;
    
    align-items: center;
    
    
    

    border-radius: 4px;
    

    .box01{
      /* animation: blink_re 2s infinite alternate forwards; */
      padding-left: 50px;

    }

    .box02{
      position: relative;
      
      display: flex;
      text-align: center;
      


      .inner03-2{
        width: 429px;
        height: 429px;

        
      }


      .inner04{

        /* background-color: #fff; */
        position: absolute;
        left: 200px;
        top: 120px;
        
        
      }
    }


  }

}

.userInterview{
  /* background-color: #fff; */
  width: 1620px;
  margin: 0 auto;
  
  /* position: relative; */

 

.titleGroup{
  text-align: center;
  padding-bottom: 120px;
  

  .title01{
    margin-bottom: 24px;
    
  }
  .title02 {
    font-weight: bold;
    font-size: 44px;
    margin-bottom: 12px;
  }

}
  


.opinionBox{
  /* background-color: palevioletred; */
  display: flex;
  width: 1640px;
  flex-wrap: wrap;
  
  gap: 16px;
  position: relative;


  .deco_section05{
  
    /* background-color: teal; */
  
    .deco01-section05{
      position: absolute;
      left: -5%;
      bottom: 0%;
    }
  
    .deco02-section05{
      position: absolute;
      left: 10%;
      top: -20%;
    }
    .deco03-section05{
      position: absolute;
      right: 15%;
      top: -10%;
    }
    .deco04-section05{
      position: absolute;
      right: -7%;
      bottom: 30%;
    }
    
    
  }
 



  .box02,
  .box04{
    padding-top: 84px;
  }

  




}


.gradaiton{
  /* width: 100vw; */
  position: absolute;
  left: 0;
  bottom: 0;

  .gra{
    width: 100vw;
    height: 1000px;
  }

}
}



}

.section06{
  position: relative;
  height: initial;
  


  .section06-inner01{
    width: 1620px;
    margin: 0 auto;
    /* background-color: rebeccapurple; */
    

    .titleGroup{
      /* background-color: red; */
      padding-top: 120px;
      padding-bottom: 100px;
      
     
  
      .title01{
        margin-bottom: 24px;
        
      }
      .title02 {
        font-weight: bold;
        font-size: 44px;
        margin-bottom: 12px;
      }
  
    }
  
  
  
    .inner-section06{
      /* background-color: #fff; */
      justify-content: space-between;
      
  
      .topinner-section06{
        display: flex;
        justify-content: space-between  ;
        margin-bottom: 32px;
  
      }
  
      .bottominner{
        display: flex;
        perspective: 600px;
        justify-content: space-between;
  
      }
  
    }
  }
  .section06-inner02{
   
    /* margin: 0 auto;
    width: 1620px; */
    
    
   

    .titleGroup02{
      /* background-color: red; */
      padding-top: 120px;
      padding-bottom: 60px;
      width: 1620px;
    margin: 0 auto;
    
  
     
  
      .title01{
        margin-bottom: 24px;
        
      }
      .title02 {
        font-weight: bold;
        font-size: 44px;
        margin-bottom: 12px;
      }
  
    }

    .bottominner-section06{
      display: flex;
      
      position: relative;
     

      & > div > img{
        width: 100%;
      }
      .leftinner{
        background-color: #222222;
        text-align: center;
        position: relative;
       
        flex: 1;

        .deco01{
          position: absolute;
          left: 50%;
          top: 50%;
          translate: -50% -50%;

          
        }
      }
      .rightinner{
        background-color: #0F0F0F;
        text-align: center;
        
        flex: 1;
        position: relative;

        .deco02{
          position: absolute;
          left: 50%;
          top: 50%;
          translate: -50% -50%;
        }
      }

    
    }









  }
  

}

  

.section07{
  height: initial;
  background-color: #020202;
  text-align: center;


  .background{
    width: 100vw;
  }
}

.section08{
  height: initial;
  height: 1185px;
  position: relative;
  background-color: #080808;
  text-align: center;
  .background{
    
    animation: blink 0.8s infinite alternate;
  }

  .innercontent{
    
    position: absolute;
    left: 50%;
    top: 40%;
    translate: -50% -50%;
    

    .titleGroup{
      display: flex;
      margin-bottom: 100px;
      position: relative;

      .title01{
        /* padding-top: 70px;
        padding-right: 32px; */
        padding-bottom: 160px;
      }

      .title02{
        display: flex;
        position: absolute;
        left: 40%;
        top: 40%;
        gap: 4px;


        .block01{animation: dongdong 0.5s infinite alternate 0.2s;}
        .block02{animation: dongdong 0.5s infinite alternate 0.4s;}
        .block03{animation: dongdong 0.5s infinite alternate 0.6s;}
        .block04{animation: dongdong 0.5s infinite alternate 0.8s;}
      
    }

    .p_section08{
      text-align: center;

      .purple_tag{
        color: #9872F3;
      }
    }



  }





}
}

.section09{
  /* background-color: orange; */
  height: initial;
  position: relative;
  z-index:99;
  
  


  .background{
    width: 100vw;
    
    
    .patton{
    
     .back{
      width: 100vw;
      
     }
    }

    .bottom_gra{
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 99;
    }
    
  }
  .inner{
    /* margin-top: 160px; */
    position: absolute;
    left: 63%;
    top:0;
    translate: -50% 0;
    overflow: hidden;
    /* opacity: 0; */
   
    
  }
  


  .appIcon{
    animation: dongdong_light 2s infinite alternate;

    position: absolute;
    left: 65%;
    top: 20%;
    translate: -50% -50%;

    .Icon{
      margin-bottom: 100px;
    }
  }



}


.section10{
  height: initial;
  position: relative;

  
  
  .background_section10{
    .back{
      width: 100vw;
     
    }
  }

 
    

    .title{
      
      position: absolute;
      left: 50%;
      top: 10%;
      translate: -50% 0%;
      

      
    }

    .mainphone{
     
      


      .circleDeco{
        


        .circle01{
          position: absolute;
          left: 50%;
          top: 50%;
          translate: -50% -50%;
      
    
    
        }
        .circle02{
          position: absolute;
          left: 50%;
          top: 50%;
          translate: -50% -50%;
          /* background-color: #fff; */
        }
        .circle03{
          position: absolute;
          left: 50%;
          top: 50%;
          translate: -50% -50%;
        
        }
    
       
      
       
    
    
    
      }
     
      .phone{



        .deco01{
          position: absolute;
          left: 20%;
          top: 20%;
        }
        .deco02{
          position: absolute;
          right: 30%;
          bottom: 25%;
        }

        .splah_left{

          .spl_l{
            position: relative;
            z-index: 99;
          }
       
          position: absolute;
          left: 25%;
          top: 18%;
          animation: dongdong_light 1.3s infinite alternate;


          .faceDeco01{

            width: 630px;
            overflow: hidden;

            position: absolute;
            left: -60%;
            top: 35%;


            .cover{
              display: flex;
              animation: loop_ex 2s infinite linear
            }
          
    
          }
        }
  
       

        .splah_right{
          
          .spl_r{
            position: relative;
            z-index: 99;
          }
          
        
          position: absolute;
          right: 25%;
          bottom: 25%;
          animation: dongdong_light 1.3s infinite alternate;
          
          .faceDeco02{
            /* width: 813px; */
            width: 630px;
            overflow: hidden;
         
            position: absolute;
            right: -60%;
            bottom: 15%;
    
            .cover{
              display: flex;
              animation: loop 2s infinite linear
            }
            
            /* background-color: orange; */
        }
          
  
        }
      }
      

    }
  }


  
  @keyframes loop {
    from{
      transform:translateX(0)
    }
    to{
      transform:translateX(-100%)
    }
  }
  @keyframes loop_ex {
    from{
      transform:translateX(0)
    }
    to{
      transform:translateX(100%)
    }
  }


  .decoGroup{
    

    .faceDeco{
     


      .faceDeco01{
        position: absolute;
        left: 0;
        top: 35%;
        /* background-color: #fff; */

      }

     


    
  }


  

  .backDeco{
    /* position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%; */
    /* background-color: #fff; */

    
    .deco03{
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
    }
  }
}




.section11{
  position: relative;
  height: initial;
  height: 2200px;

  text-align: center;

  .titleGroup{
    text-align: center;
    margin-top: 160px;
    margin-bottom: 100px;
  }


  .topMainContent{
    text-align: center;
    position: relative;
    

    .phoneDeco{
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
      

    }

    .phone02{
      position: absolute;
      left: 50%;
      bottom: 0;
      translate: -50% 0;
      


    }

    
    


    .decoGroup{

      .deco01{
        position: absolute;
        left: 10%;
        top: 65%;
      }
      .deco02{
        position: absolute;
        left: 30%;
        top: -10%;
      }
      .deco03{
        position: absolute;
        right: 10%;
        top: 5%;
      }
      .deco04{
        position: absolute;
        right: 20%;
        bottom: -10%;
      }
    
    }

  }

  .line{
    margin-right: 35%;
  }

  


  .bottomContent{
    position: relative;

    .bottomMainContent{
      display: flex;
      width: 1650px;
      justify-content: space-between;

      & > div{
        transform: translateY(100px);
        opacity: 0;
      }
    
      margin: 0 auto;

      .device{
        position: relative;


        .deco01{

         position: absolute;
         left: 50%;
         top: 50%;
         translate: -50% -30%;
         animation: dongdong_light 0.5s infinite alternate;
        }



      }




      .phone02{

        margin-top: 56px;
      }

      .phone04{
        position: relative;

        .deco02{
         position: absolute;
         left: 50%;
         top: 50%;
         translate: -52% -75%;  
         animation: blink 1s infinite alternate;
  
        }


        
      }


    }


      

      

      .deco03{
        position: absolute;
        left: 5%;
        bottom: -15%;
        animation: dongdong_light 0.8s infinite alternate;

        

      

      }
    



  }

}

.section12{

  background-color: #0D0D0D;
  position: relative;
  height: initial;
  
  

  .title{
    padding-top: 100px;
    margin-left: 150px;
  }


  .mainContent{
    
  
    .mainPhone{
      
      margin-top: 130px;
      margin-left: 30%;
      position: relative;
      overflow: hidden;
      
        
      }

      .slideCard{
  
        display: flex;
        position: absolute;
        top: 40%;
        left: 67%;

        gap: 24px;
       
        

      }

      .PopupCard{


        .TipLine{

          position: absolute;
          left: 31.5%;
          top: 80%;
          /* translate: -50% -50%; */
        }

        .Popupcard01{

          position: absolute;
          left: 18%;
          top: 60%;
          
        }
      }
      .p_01{
        position: absolute;
        right:12%;
        top: 25%;
      
      }

      .p_02{
        position: absolute;
        right: 12%;
        bottom: 5%;
        
      }
      .stateDeco{

        position: absolute;
        left: 37%;
        bottom: 35%;
      
      }
     
    }

    




  }



.section13{

  background-color: #47239E;
  height: initial;
  position: relative;
  

  .background{
    text-align: center;
  }

  .content{
    /* position: absolute; */
    /* left: 0;
    top: 0; */


    .phone01{
      position: absolute;
      left: 10%;
      top: 10%;
     

    }
    .phone02{
      position: absolute;
      left: 36.5%;
      top: 27%;
      
    }
    .phone03{
      position: absolute;
      right: -10%;
      bottom: 4%;
    }
    .phone04{
      position: absolute;
      left: 10%;
      bottom: 10%;

    }

    .deco{
      position: absolute;
      left: 21%;
      bottom: -1%;
      
    }


  }
}

.section14{
  height: 2300px;
  position: relative;
  background-color: #1A1B1B;
  z-index: -99;
  
 


  .background{
    width: 100vw;
    
    
    /* .back02{
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
    } */

  }

  
    
    .title{
      /* margin-top: 100px; */
      position: absolute;
      left: 35%;
      top: 5%;
      
      
      
      
    }

    .leftphone{
      

      .phone01{

        position: absolute;
        top: 20%;
        left: 1%;
      }

      .deco01{
        position: absolute;
        bottom: 7%;
        left: 15%;
      }
  
      .deco02{
        position: absolute;
        top: 24%;
        left: 38%;
  
      }
    }


    


    .phone02{
      position: absolute;
      right: -2%;
      bottom: -8%;
    }

    

  }



.section15{
  background-color: #1A1B1B;
  position: relative;
  height: initial;

  .content{
    /* position: relative; */



    .topContent{
      text-align: center;
      background-color: #47239e;
      height: 360px;
      z-index: 99;
      position: relative;
    }
  }

  .phone01{
    position: relative;
    text-align: right;

    .phone01_01{
      padding-top: 18%;
      position: relative;
      z-index: 0;
      
    }

    .deco01{
      position: absolute;
      left: 40%;
      top: -1.5%;
      animation: dongdong_light 1s infinite alternate;
      

    }
    .deco02{
      position: absolute;
      right: 12%;
      bottom: 4%;
      
      

    }




  }

  .deco{
    position: absolute;
    left: 3%;
    bottom: 0;
    display: flex;
    margin-bottom: 320px;
    gap: 32px;
   

    .card01{
      
    }

    .card02{
      padding-top: 70px;
     
    }





  }

  

}

.section16{

  background-color: #1A1B1B;
  height: initial;
  padding-top: 250px;
  position: relative;
 
  
.phone{
  position: relative;
  .phones{
    text-align: center;
    
  }

  .deco01{
    position: absolute;
    top: 0%;
    right: 15%;
    animation: dongdong_light 2s infinite alternate;
  }

  .deco02{
    position: absolute;
    top: 30%;
    right: 2%;
  }

  .deco03{
    position: absolute;
    bottom: 33%;
    right: 10%;
  }


}
  
 
    
    
      
    
    
  }
  


.section17{
  background-color: #0d0d0d;
  text-align: center;
  height: initial;
  position: relative;
  height: 1650px;

  .title{
    padding-top: 120px;
  }

  .content{
    margin-top: 100px;
  }

  .deco{
    /* position: absolute;
    left: 0;
    top: 0; */

    .deco01{

      position: absolute;
      left: 0;
      top: 0;
      animation: dongdong_light 2s infinite alternate;
    }

    .deco02{
      position: absolute;
      right: 0;
      bottom: -10%;
      animation: dongdong_light 2s infinite alternate;
    }


  }

}

.section18{
  height: initial;
  height: 1650px;
  position: relative;


  .title{
    padding-top: 100px;
    margin-left: 150px;

  }


  .back{
    /* position: relative; */
    
    .chipsback{
      position: absolute;
      left: 0%;
      top: 25%;
    }

    .chips01{
      position: absolute;
      left: 5%;
      top: 25%;
    }
    .chips02{
      position: absolute;
      left: 20%;
      top: 30.5%;
    }
    .chips03{
      position: absolute;
      left: 23%;
      top: 36%;
    }

  }


  .circle_back{
    position: relative;
    /* z-index: ; */
    text-align: center;
    margin-top: 150px;
  }
  .mainContent{
    


    .phone01{
     position: absolute;
     left: 40%;
     top: 50%;
     translate: -50% -50%;
      
    }




    .phone02{
      position: absolute;
      left: 54%;
      top: 25.8%;
      /* translate: -50% -50%; */
    }

    .deco01{
      position: absolute;
      right: 30%;
      top: 15%;
    }
    .deco02{
      position: absolute;
      right: 10%;
      top: 20%;
    }
    .deco03{position: absolute;
      right: 7%;
      top: 65%;
    }
  }
}

.section19{
  background-color: #161616;
  height: initial;
  padding-bottom: 160px;


  .title{
    padding-top: 100px;
    margin-left: 150px;

  }
  

  .inner{
    display: flex;
    margin-top: 100px;
    justify-content: center;
   
    

    .leftContent{
      position: relative;

      .chips01{

        position: absolute;
        left: 0;
        top: 0;

      }
      .chips02{

        position: absolute;
        right: 0;
        bottom: 0;

      }




    }

    .rightContent{
      width: 810px;
      height: 723px;
      position: relative;

      .card01{
       position: absolute;
       left: 10%;
       top: 30%;
       translate: -0 -50%;
      }

      
      .card02{
        position: absolute;
      left: 60%;
      top: 60%;
      translate: -50% -50%;

      
    }
      .card03{
        position: absolute;
        left: 70%;
        top: 60%;
        
      }
      .card04{
        position: absolute;
        right: 0;
        top: 0%;
        
      }

    }

  }

  


}

.section20{
  background-color: #51319C;
  position: relative;
  height: initial;
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0; */
  /* height: initial; */

  .title{
    text-align: center;
    padding-top: 100px;
  }

  .phone{
    text-align: center;
   
    position: relative;
    z-index: 99;
    padding-bottom: 100px;
  }

  .deco{
    



    .deco01{
      position: absolute;
      left: -1%;
      top: 20%;
    }

    .deco02{
      position: absolute;
      left: 10%;
      bottom: 10%;
    }

    .deco03{
      position: absolute;
      right: 13%;
      bottom: 10%;
    }

    .deco04{
      position: absolute;
      right: 5%;
      top: 30%;
    }
  }





}

.section21{
  height: initial;
  background-color: #080808;

  .topimg{
    width: 100vw;
    text-align: center;
  }

  .title{
    text-align: center;
  }
  .bottomimg{
    width: 100vw;
    position: relative;


    .end{
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
    }
  }






}